@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');

* {
	margin: 0;
    padding: 0;
    text-decoration: none !important;
}

html,body {
    background-color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}

i {
	margin-right: 10px;
}
/*----------multi-level-accordian-menu------------*/
#navbar {
    right: -10%;
    padding: 25px;
}
.navbar-logo {
	width: 250px;
	height: auto;
}
.navbar-mainbg {
	background-color: #5161ce;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height:62px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    box-shadow: 0 19px 38px rgba(16, 39, 141, 0.541);
}
h2.ma {
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
}
#navbarSupportedContent {
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul {
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i {
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a {
	color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a {
	color: #5161ce;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector {
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right, .hori-selector .left {
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right {
	right: -25px;
}
.hori-selector .left {
	left: -25px;
}
.hori-selector .right:before, .hori-selector .left:before {
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
}
.hori-selector .right:before {
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before {
	bottom: 0;
    left: -25px;
}

/*-------------------DASHBOARD--------------------------*/
.sidebar{
	z-index: 1;
	top: 80px;
	background-image: linear-gradient(to top, #000c30 0%, #003055 100%);
	margin-top: -5px;
	margin-left: 10px;
	padding-top: 5px;
	position: fixed;
	left: 0;
	width: 300px;
	height: 490px;
	overflow-y: auto;
	border-radius: 15px;
}

/*--dash2 info---*/
.sidebar .profile_info{
	display: flex;
	align-items: center;
	color: #fff;
	padding: 5px;
	white-space: nowrap;
	transition: all 0.3s ease;
	flex-direction: column;
	justify-content: center;
}
.sidebar .profile_info .profile_image{
	padding:0 0px;
}

/*---circlular img---*/
.sidebar .profile_info .profile_image img{
	width: 150px;
	height: 150px;
	margin-bottom: 5px;
}
/* Rounded border for hr tag */
hr.divider {
	margin-left: 20px;
	margin-right: 20px;
	border-top: 2px solid rgb(255, 255, 255);
	border-radius: 5px;
}  
.sidebar .profile_info .profile_infon h4{
	margin-top: 10px;
	font-size: 35px;
	justify-content: center;
	align-items: center;
	color: rgb(255, 255, 255);
  font-family: sans-serif;
}
.sidebar .container ul{
  list-style-type: none;
}
.sidebar .container .icon {
	font-size: 13px;
}
.sidebar .container .user-info {
	margin-left: 2px;
	font-size: 13px;
}
.sidebar p{
	color: #fff;
	display: block;
	width: 100%;
	line-height: 40px;
	text-decoration: none;
	padding-left: 10px;
	box-sizing: border-box;
}
.sidebar p:hover{
	background: rgb(216, 0, 47);
}
.sidebar i{
	margin-right: 10px;
}

/* TABLE */
.mytable {
  width: 560px;
  margin-left: 320px;
  margin-top: 80px;
  position: fixed;
border: none;
}
.mytable h1 {
  font-size: 30px;
  font-weight: lighter;
  padding: 10px;
  background-color: rgb(216, 0, 47);
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 5px;
  border-radius: 10px;
}
.mytable table { /*#25c481, #25b7c4*/
background: linear-gradient(to right, #3a42b3, #37c790);
width:100%;
border-radius: 10px;
}
.mytable .tbl-header th {
font-size: 18px;
padding: 10px;
text-align: left;
font-weight: 100;
color: #fff;
}
.mytable .tbl-content {
height: 370px;
overflow-x: auto;
margin-top: 5px;
border-radius: 10px;
}
.mytable td {
padding-bottom: 12px;
padding-top: 12px;
padding-left: 10px;
text-align: left;
vertical-align: middle;
font-weight: 300;
font-size: 15px;
color: #fff;
border-bottom: solid 1.5px rgb(255, 255, 255);
}
.column1 {
width: 30%;
}
.column2 {
width: 30%;
}
.column3 {
width: 30%;
}
.tbl-content .simplebar-scrollbar::before {
background: rgb(255, 255, 255);
}
.mytable .tbl-content tr:hover {
background-color: black;
}
.simplebar-scrollbar{
margin-right: 40px;
width: 10px;
padding-right: 10px;
}

/*NEW CONTACT*/
.container1 {
  width: 380px;
  height: 480px;
  color: #fff;
  background-image: linear-gradient(to top, #000c30 0%, #003055 100%);
  top: 80px;
  margin-left: 890px;
  position: absolute;
  box-sizing: border-box;
  padding: 10px 25px;
  text-align: center;
  border-radius: 20px;
}
.container1 h3 {
  margin-top: 10px;
  margin-bottom: 20px;
	text-align: center;
  font-size: 25px;
}
.container1 input[type="text"],[type="email"] {
  width: 100%; 
  margin-bottom: 15px;
  border-style: none;
  border-color: rgb(0, 0, 0);
  border-radius: 5px;
  outline: none;
  color:rgb(0, 0, 0);
  font-size: 15px;
  padding: 12px 5px;
}
.container1  textarea[type="text"] {
  width: 100%; 
	height: 120px;
	border-style: none;
  border-radius: 5px;
  outline: none;
  color:rgb(0, 0, 0);
  font-size: 15px;
  padding: 12px 5px;
}
::-webkit-input-placeholder {
  color: rgb(129, 129, 129);
}
.confirm-btn {
  height: 50px;
	width: 200px;
	font-size: 15px;
  color: #fff !important;
  text-decoration: none;
  background: rgb(216, 0, 47);
  padding: none;
	border-radius: 10px;
	border-style: solid;
	border-color: #fff;
  display: inline-block;
}
.confirm-btn:hover {
	box-shadow: 5px 5px 15px 0px rgba(255, 255, 255, 0.534);
	font-size: 17px;
	background: rgb(216, 0, 47);
  transition: all 0.1s ease 0s;
}